.maincontainer{
  height: 100%;
  display: flex;
  justify-content: center;   
  align-items: center;   
  background-image: url('../../../public/image2.png');
  background-size: cover;       
  background-position: center;   
  background-repeat: no-repeat; 
  width: 100%;  
}
/* .canvas{
  cursor: url('../../../public/cursor.cur'), auto;  
} */
.canvas-box {
  flex: 1;
  margin: 20px;
  padding: 20px;
  background-color: #fff0b3;
  border-radius: 12px;
}

.controls {
  margin-top: 16px;
}

.controls button {
  font-family: 'Boldonse', system-ui;
  margin-left: 16px;
  padding: 10px 20px;
  font-size: 12px;
  background: #B49FFF;
  color: white;
  border: 2px solid white;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.controls button:hover {
  color: #B49FFF;
  background: #ffffff;
  border: 2px solid #B49FFF;
}
.prediction {
  color: #B49FFF;
  font-family: 'Boldonse', system-ui;
  margin-top: 10px;
  font-size: 16px;
}

.sketch-container{
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;   
  align-items: center;    
}