/* src/components/TopBar/TopBar.css */
@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');

/* Fixed TopBar */
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  background-color: #B49FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 32px;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px 17px;
}

.title-button {
  background: none;
  border: none;
  color: white;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Boldonse', system-ui;
}

.boldonse {
  font-family: 'Boldonse', system-ui;
  font-weight: 400;
  font-style: normal;

}


.nav-buttons button {
  font-family: 'Boldonse', system-ui;
  margin-left: 16px;
  padding: 10px 20px;
  font-size: 12px;
  background: none;
  color: white;
  border: 2px solid white;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.nav-buttons button:hover {
  color: black;
  background: #d0f14c95;
}
