html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}
body, * {
  cursor: url('../public/cursor2.cur'), auto !important; 
}
.app-container {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  height: 100%;
}


/* Main Content pushed down below TopBar */
.main-content {
  margin-top: 80px; 
  flex-grow: 1;
  padding: 1rem;
}
